@model WebApplication4.Models.Projects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">PROJECT</h4>
            </div>
            <form action="/User/Index" method="post">
                <div class="modal-body">
                    <input type="hidden" name="user_id" value="@ViewBag.User.Id" />
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Title)
                        </div>
                        <div class="editor-field">
                            <input class="form-control" name="project_title" type="text" value="" />
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="editor-field">
                            <textarea class="form-control" name="project_description"></textarea>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Specification:</label>
                        <select class="form-control" name="specification_id">
                            @foreach (var sp in ViewBag.Specifications)
                            {
                                <option value="@sp.Id">@sp.Title</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">CREATE NEW</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-5">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">

                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.User.Name @ViewBag.User.Surname</h5>
                        <p class="card-text">@ViewBag.User.Email</p>
                        <p class="card-text">@ViewBag.User.Specification.Title</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            POST NEW PROJECT
                        </button>

                    </div>
                    <div class="editor-field">
                        <h4 style="color:red;">@Html.ValidationMessageFor(model => model.Title)</h4>
                    </div>
                    <div class="editor-field">
                        <h4 style="color:red;">@Html.ValidationMessageFor(model => model.Description)</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div id="tabs">
            <!-- Кнопки -->
            <ul class="tabs-nav">
                <li><a href="#tab-1">My Projects</a></li>
                <li><a href="#tab-2">Enrollments</a></li>
                <li><a href="#tab-3">Enrollment Requests</a></li>
            </ul>

            <!-- Контент -->
            <div class="tabs-items">
                <div class="tabs-item" id="tab-1">

                    @foreach (WebApplication4.Models.Projects p in ViewBag.User.Projects)
                    {
                        <div class="card w-75">
                            <div class="card-body">
                                <h5 class="card-title">@p.Title</h5>
                                <p class="card-text">@p.Description</p>
                                <a href="#" class="btn btn-primary">DETAILS</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="tabs-item" id="tab-2">
                    @if (ViewBag.User.Enrollments != null)
                    {
                        foreach (WebApplication4.Models.Enrollments p in ViewBag.User.Enrollments)
                        {
                            <div class="card w-75">
                                <div class="card-body">
                                    <h5 class="card-title">@p.Project.Title</h5>
                                    <p class="card-text">@p.Project.Description</p>
                                    <a href="#" class="btn btn-primary">DETAILS</a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="tabs-item" id="tab-3">
                    @if (ViewBag.User.EnrollmentRequests != null)
                    {
                        foreach (WebApplication4.Models.EnrollmentRequests p in ViewBag.User.EnrollmentRequests)
                        {
                            <div class="card w-75">
                                <div class="card-body">
                                    <h5 class="card-title">@p.Project.Title</h5>
                                    <p class="card-text">@p.Project.Description</p>
                                    <a href="#" class="btn btn-primary">DETAILS</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <style>
            #tabs {
                margin: 10px 0;
            }

            .tabs-nav {
                overflow: hidden;
                margin: 0;
                padding: 0;
            }

                .tabs-nav li {
                    display: block;
                    float: left;
                    padding: 0;
                    list-style: none;
                }

                .tabs-nav a {
                    display: block;
                    padding: 10px 20px;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    background: #fbfbfb;
                    font-size: 16px;
                    text-decoration: none;
                    text-align: center;
                    color: #999;
                }

                .tabs-nav li:first-child a {
                    border-radius: 5px 0 0 0;
                }

                .tabs-nav li:last-child a {
                    display: block;
                    border-right: 1px solid #ccc;
                    border-radius: 0 5px 0 0;
                }

                .tabs-nav a.active {
                    border-bottom: 1px solid #fff;
                    background: #fff;
                    color: #000;
                }

            .tabs-items {
                border: 1px solid #ccc;
                border-radius: 0 5px 5px 5px;
                background: #fff;
                margin: -1px 0 0 0;
            }

            .tabs-item {
                padding: 15px;
            }
        </style>


    </div>
</div>

